.root {
    @apply fixed top-0 right-0 z-10
    h-24;
}

.button {
    @apply text-primary bg-black
    px-6 h-12 md:h-16 xl:h-24 relative
    flex items-center justify-center;
}

.button:before {
    content: "Close";
    @apply bg-primary text-black
    px-6 h-12 md:h-16 xl:h-24
    fixed -left-full top-0 w-screen
    flex justify-end items-center;
    transition: left 0.3s linear;
}

.button__clicked:before {
    @apply left-0;
}

.menu {
    @apply fixed z-10
    w-screen h-screen
    top-0 left-full
    bg-black px-6;
    transition: left 0.3s linear;
}

.menu__open {
    @apply left-0;
}

.menuContainer {
    @apply w-full h-full
    flex items-center
    text-body text-2xl sm:text-5xl lg:text-5xl;
}

.menuList {
    @apply w-full h-full
    flex flex-col justify-center
    list-none;
}

.menuListItem a {
    @apply text-body;
    text-decoration: none;
}

.menuListItem:not(:last-child) {
    @apply mb-12;
}
