@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/MonumentExtended-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/MonumentExtended-Ultrabold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  @apply bg-black;
  cursor: none;
}

p:not(:last-child) {
  @apply mb-4;
}

a {
  @apply text-primary underline;
}

a, button, *[role='button'] {
  cursor: none;
}

input, textarea {
  cursor: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  @apply outline-none;
}
